.ListItem{
    display: flex;
    flex-direction: column;
    max-width: 280px;
}

.ListItem__img-wrapper {
    margin: 0 auto;
    width: 260px;
    height: 260px;
}

.ListItem__img{
    width: 100%;
}

.ListItem__name{
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 24.36px;
    padding: 11px 0 22px 0;
    flex: 1 0 auto;
}

.OrderBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.OrderBar__position{
    margin-top: 17px;
}