.Submenu{
    position: absolute;
    right: 0;
    top: 25px;
    padding: 13px 0;
}

.Submenu__list-item{
    padding: 10px 14px;
}

.Submenu__list-item_active{
    color: #FE5F1E;
}

.Submenu__list-item:hover{
    background-color: rgba(254, 95, 30, 0.2);
    transition: 0.5s;
    cursor: pointer;
}